:Root{
  --orange : rgb(255, 196, 0);
  --black : #212121;
  --gray :  rgb(236, 236, 236);
}

html{
    direction: rtl;
    position: relative;
}

@font-face{
    font-family: vazir;
    src: url(../assets/fonts/vazir/Vazir-Light.woff);
    src: url(../assets/fonts/vazir/Vazir-Light.woff);
}

body{
    padding: 0px;
    margin: 0px;
    font-family: vazir;
    font-weight: lighter;
    font-size: 15px;
    position: relative;
    
}

.container{
    margin: 0px auto;
    padding: 10px;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  a{
      text-decoration: none;
      color: inherit;
  }

  li{
    list-style-type: none;
  }

  
  /* ========================= cubes ========================= */

.cubes{
  width: 100%;
  height: 970px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -100;
  overflow: hidden;
}

.cu-2{
  top: 970px;
}

.cubes > div{
  position: absolute;
  width: 60px;
  height: 60px;
  
}

.style-1{
  border : 5px solid #ffa200;
}

.style-2{
  border : 5px solid var(--orange);
}

.cubes > .cube{
  border-radius: 5px;
}

.cubes > .circle{
  border-radius: 100px;
}

.cubes > div:nth-child(1){
  right: 120px;
  top: 100px;
  animation: animate 2.5s linear infinite;
}

.cubes > div:nth-child(2){
  right: 220px;
  top: 300px;
  animation: animate 3.5s linear infinite;
}

.cubes > div:nth-child(3){
  right: 30px;
  top: 420px;
  animation: animate 2.5s linear infinite;
}

.cubes > div:nth-child(4){
  right: 220px;
  top: 600px;
  animation: animate 4s linear infinite;
}

.cubes > div:nth-child(5){
  right: 50px;
  top: 770px;
  animation: animate 5s linear infinite;
}

.cubes > div:nth-child(6){
  right: 300px;
  bottom: 10px;
  animation: animate 4.2s linear infinite;
}

.cubes > div:nth-child(7){
  left: 120px;
  top: 100px;
  animation: animate 2.5s linear infinite;
}

.cubes > div:nth-child(8){
  left: 220px;
  top: 300px;
  animation: animate 3.5s linear infinite;
}

.cubes > div:nth-child(9){
  left: 30px;
  top: 420px;
  animation: animate 2.5s linear infinite;
}

.cubes > div:nth-child(10){
  left: 220px;
  top: 600px;
  animation: animate 4s linear infinite;
}

.cubes > div:nth-child(11){
  left: 50px;
  top: 770px;
  animation: animate 5s linear infinite;
}

.cubes > div:nth-child(12){
  left: 300px;
  bottom: 10px;
  animation: animate 4.2s linear infinite;
}

.cubes > div:nth-child(13){
  right: 900px;
  top: 500px;
  animation: animate 4.5s linear infinite;
}

.cubes > div:nth-child(14){
  right: 470px;
  top: 450px;
  animation: animate 5s linear infinite;
}

.cubes > div:nth-child(15){
  right: 700px;
  top: 100px;
  animation: animate 4s linear infinite;
}

.cubes > div:nth-child(16){
  right: 700px;
  top: 650px;
  animation: animate 3.5s linear infinite;
}



@keyframes animate{
  0%{
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
  }

  100%{
      transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 0;
  }
}
 
/* ======================== footer ======================== */

footer{
  width: 100%;
  height: 150px;
  margin-top: 150px;
  background-color: #16171a;
  border-top: 5px solid var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; 
  bottom: -190px;
}

footer > span{
  color: #fff;
}

footer > small{
  color : var(--orange);
}