

#about-festival ,
.festival-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-festival-info{
    max-width: 450px;
    text-align: center;
}

.about-festival-title > h2{
    color: var(--black);
    margin-bottom: 0px;
    font-size: 25px;
    display: inline-block;
}

.about-festival-subtitle{
    font-size: 18px;
    color: var(--orange);
}

.about-festival-more-info ,
.about-festival-sign-up{
    color: black;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: var(--orange) 0px 3px 7px;
    background-color: var(--orange);
    display: inline-block;
    margin : 20px 0px 0px 15px;
    transition: background-color 0.2s , box-shadow 0.3s;
}

.about-festival-more-info:hover ,
.about-festival-sign-up:hover{
    background-color: rgb(255, 180, 0);
    box-shadow: rgb(255, 180, 0) 0px 3px 20px;
}

.about-festival-image ,
.about-festival-image > img{
    width: 600px;
    height: 400px;
}

/*========================festival fields========================*/

.festival-fields{
    margin-top: 100px;
    width: 100%;
}

.festival-fields-title{
    width: 250px;
    height: 250px;
    background-image: url(../assets/images/bg-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.festival-fields-title ,
.ffi-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.festival-fields-title > span{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.festival-fields-item{
    width: calc(100% - 250px);
    height: 500px;
    position: relative;
}

.ffi{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.ffi-icon{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    transform: rotate(45deg);
    margin-bottom: 10px;
    padding: 5px;
}

.ffi--icon{
    color: #fff;
    font-size: 25px;
    transform: rotate(-45deg);
}

.ffi-1{
    top: 50px;
    left: 130px;
    transform: scale(2);
}

.ffi-1 > .ffi-icon{
    background-color: var(--orange);
}

.ffi-2{
    left: 170px;
    bottom: 100px;
    transform: scale(1.5);
}

.ffi-2 > .ffi-icon{
    background-color: #ffa200;
}

.ffi-3{
    left: 400px;
    bottom: 250px;
    transform: scale(1.1);
}

.ffi-3 > .ffi-icon{
    background-color: #ffa200;;
}

.ffi-4{
    left: 520px;
    bottom: 100px;
    transform: scale(1.3);
}

.ffi-4 > .ffi-icon{
    background-color: var(--orange);
}

/*=========================== latest-news ===========================*/

#main2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.latest-news{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/bg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 100px;
}

.lt-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -40px;
}

.ls--item{
    width: 300px;
    background-color:  var(--gray);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 5px 15px;
    overflow: hidden;
    margin-left: 20px;
    padding-bottom: 7px;
    height: 350px;
}

.ls--item:hover .ls--item-cover-img,
.ls--item:hover .ls--item-cover-img,
.ls--item:hover .ls--item-cover-img{
    transform: scale(1.1);
}

.ls--item-cover{
    overflow: hidden;
}

.ls--item-cover ,
.ls--item-cover > a > img{
    width: 100%;
    height: 180px;
}

.ls--item-cover > a > img{
    transition: transform 0.2s;
}

.ls--item-body{
    position: relative;
    padding: 0px 15px 10px 15px;
}

.ls--item-date{
    width: 120px;
    height: 30px;
    padding-right: 15px;
    background-color:  var(--gray);
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translatey(-40px);
    border-radius: 5px 0px 0px 0px;
}

.ls--item-date::after{
    content: '';
    display: block;
    width: 0;
    height: 0; 
    border-top: 13px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid var(--gray); 
    border-right:12px solid var(--gray); 
    margin-right: 98%;
    margin-top: -20px;
}

.ls--item-date > small{
    padding-top: 15px;
    font-size: 13px;
    color: rgb(143, 143, 143);
}

.ls--item-title > h4{
    margin: 15px 0px 0px 0px;
    z-index: 10;
}

.ls--item-desc{
    text-align: justify;
    height: 70px;
}

.ls--item-more{
    background-color: var(--orange);
    padding: 3px 10px;
    border-radius: 10px 0px 10px 10px;
    transition: color 0.1s , background-color 0.1s;
    float: left;
}

.ls--item-more:hover{
    background-color: rgb(255, 180, 0);
}

.lt-more{
    max-width: 100px;
    display: flex;
    align-items: center;
    text-align: center;    
}

.lt-more > a{
    margin-top: -20px;
}

.lt-more-icon{
    font-size: 50px;
}

/* ====================== contact-us ====================== */

#contact-us{
    margin-top: 150px;
    width: 100%;
    height: 200px;
    text-align: center;
}

#contact-us > h3{
    font-size: 25px;
}

.cu--item{
    display: inline-block;
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 100px;
}

.cu--item:nth-child(1){
    margin-bottom: 20px;
}

.cu--item > i,
.cu--item > span{
    font-size: 16px;
}

.cu--item > span{
    margin-right: 10px;
}

@media screen and (max-width:576px){
    .container, body{
        width: 100vw;
        overflow-x: hidden;
    }
    .ffi-1{
        top: 16px;
        left: 147px;
    }
    .ffi-2{
        left: 103px;
        bottom: 115px;
        width: 250px;
    }
    .ffi-3{
        left: 319px;
        bottom: 366px;
    }
    .ffi-4{
        left: 319px;
        bottom: 208px;
    }
    #about-festival{
        flex-direction: column-reverse;
    }

    .arrow-1{
        display: none;
    }
    .festival-fields-title{
        visibility: hidden;
    }
    body > main > div.festival-fields > ul > li.ffi-4.ffi > small{
        width: 200px;
    }
    .about-festival-image img{
        width: calc(100% - 103px);
        margin: auto;
        display: block;
    }
    .latest-news{
        background-image: none;
        height: 100%;
    }

    .lt-items{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .lt-more{
        display: none;
    }
    
    .lt-items article{
        margin: auto;
        margin-bottom: 20px;
        width: 85%;
    }
    .lt-items article:last-child{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px){

    .ffi-2 {
        left: 10px;
    }
    .ffi-4 {
        left: 380px;
    }
    #about-festival{
        flex-direction: column-reverse;
    }

    .arrow-1{
        display: none;
    }
    .festival-fields-title{
        visibility: hidden;
    }
    body > main > div.festival-fields > ul > li.ffi-4.ffi > small{
        width: 200px;
    }
    .lt-items article:nth-child(2), .lt-items article:nth-child(3){
        display: none;
    }
}
  
@media screen and (max-width: 992px) and (min-width: 768px){
    
    #about-festival{
        flex-direction: column-reverse;
    }

    .arrow-1{
        display: none;
    }
    .festival-fields-title{
        visibility: hidden;
    }
    body > main > div.festival-fields > ul > li.ffi-4.ffi > small{
        width: 200px;
    }
    .lt-items article:nth-child(3){
        display: none;
    }
}
  
@media screen and (max-width: 1200px) and (min-width: 992.1px){

    .arrow-1 img:nth-child(1){
        width: 650px;
    }
    .arrow-1 img:nth-child(2){
        width: 1300px;
        height: 0px;
    }
}
  
@media (min-width: 1200px) {
    .arrow-1 img:nth-child(2){
        width: 770px;
    }

    .about-festival-info{
	text-align: right;
     }
.
}

.arrow-1{
    position: relative;
}

.arrow-1 img{
    position: absolute;
    min-height: 500px;
    width: 770px;
}


