.news-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post{
    background-color:  var(--gray);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;
    overflow: hidden;
    margin-bottom: 50px;
    padding-bottom: 7px;
    height: 380px;
}

.container img{
    width: 100%;
    border-radius: 6px;
}
.container{
    padding: 10px;
}

@media (max-width: 576px) {
    .post{
        width: 100%;
        margin: 20px 15px 20px 15px;
        padding-bottom: 7px;
    }
    
    .post-cover ,
    .post-cover > a > img{
        width: 100%;
        height: 230px;
    }
  }

@media (min-width: 576px) {
    .post{
        width: 100%;
        margin: 20px 15px 20px 15px;
        padding-bottom: 7px;
    }
    
    .post-cover ,
    .post-cover > a > img{
        width: 100%;
        height: 230px;
    }
  }
  
  @media (min-width: 768px) {
    .post{
        width: 330px;
        margin: 20px 15px 20px 15px;
        padding-bottom: 7px;
    }
    
    .post-cover ,
    .post-cover > a > img{
        width: 100%;
        height: 210px;
    }
  }
  
  @media (min-width: 992px) {
    .post{
        width: 290px;
        margin: 20px 14px 20px 14px;
        padding-bottom: 7px;
    }
    
    .post-cover ,
    .post-cover > a > img{
        width: 100%;
        height: 200px;
    }
  }
  
  @media (min-width: 1200px) {
    .post{
        width: 340px;
        margin: 20px 20px 20px 15px;
        padding-bottom: 7px;
    }
    
    .post-cover ,
    .post-cover > a > img{
        width: 100%;
        height: 210px;
    }
  }


.post:hover .post-cover-img,
.post:hover .post-cover-img,
.post:hover .post-cover-img{
    transform: scale(1.1);
}

.post-cover{
    overflow: hidden;
}

.post-cover > a > img{
    transition: transform 0.2s;
}

.post-body{
    position: relative;
    padding: 0px 15px 10px 15px;
}

.post-date{
    width: 120px;
    height: 30px;
    padding-right: 15px;
    background-color:  var(--gray);
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translatey(-40px);
    border-radius: 3.5px 0px 0px 0px;
}

.post-date::after{
    content: '';
    display: block;
    width: 0;
    height: 0; 
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid var(--gray); 
    border-right:12px solid var(--gray); 
    margin-right: 100%;
    margin-top: -21px;
}

.post-date > small{
    padding-top: 15px;
    font-size: 13px;
    color: rgb(143, 143, 143);
}

.post-title > h4{
    margin: 15px 0px 0px 0px;
    z-index: 10;
}

.post-desc{
    text-align: justify;
    height: 70px;
}

.post-more{
    background-color: var(--orange);
    padding: 3px 10px;
    border-radius: 10px 0px 10px 10px;
    transition: color 0.1s , background-color 0.1s;
    float: left;
}

.post-more:hover{
    background-color: rgb(255, 180, 0);
}