*{
    font-family: vazir;
}
.form{
    width: 100%;
}
.container{
    margin-top: 80px !important;
}
.group{ 
    margin: 0 auto;
    position:relative; 
    margin-bottom:3em; 
    width:18.75em;
    padding:0.625em  0.625em 0.625em 0.3125em;
}

input, select{
    font-size:18px;
    padding:0.625em  0.625em 0.625em 0.3125em;
    display:block;
    width:18.75em;
    border: none;
    border-bottom: 1px solid #757575 !important;
    outline: none !important;
    background-color: transparent;
}

input:focus {
    outline:none ;
}

input#submit:hover {
    cursor: pointer;
    color: white;
}

input#submit {
    border: none;
    color: black;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: var(--orange) 0px 3px 7px;
    background-color: var(--orange);
    display: inline-block;
    margin: 20px 0px 0px 15px;
    transition: background-color 0.2s , box-shadow 0.3s , color 0.3s;
    font-family: vazir;
    border: none !important;
}

.group > label, .group span{
    margin: -50px;
}

.right {
    float: right;
    border-left: 2px solid var(--orange);
    width: 50%;
}

.left{
    float: left;
    width: calc(50% - 2px);
    height: 100%;
}

form input[type=submit]{
    width: 100%;
}

.closeModal {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    background-color: var(--orange);
    color: #000;
    cursor: pointer;
    border: none;
    transition: color 0.3s;
}

.closeModal:hover {
    color: #fff
}

@media screen and (max-width: 1000px) {
    .right {
        float: none;
        border-left:none;
        width: 100%;
    }
    .left {
        float: none;
        border-left:none;
        width: 100%;
    }
    footer{
        bottom: -275px !important;
    }
}