{% extends './base.html' %}
{% load static %}

{% block title %} درباره جشنواره{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block oneCube %}
    {{super}}
{% endblock %}
{% block content %}
        <img src="{% static 'assets/images/bg-1.png' %}" alt="" style="float: left;">
        <h2 class="title">جشواره پلاک صبر</h2>
        <small class="subtitle">پلاک صبر تلفیقی است از شهید و شهید و صبر و بردباری !</small>
        <p class="about-festival-text">
            پلاک صبر یعنی نماد عزت و افتخار نمادی که از اول تاریخ و تا قیامت پایدار خواهد بود هدف برپایی جشنواره به تصویر کشاندن توسل به ائمه اطهار علیه السلام در شهدای دفاع مقدس است زمان برزگزاری این جشنواره از سی و یکم شهریور مهر ماه خواهد بود شرکت کنندگان عزیز میتوانند آثار خود را به دبیر خانه مجازی پلاک صبر ارسال کنند.
        </p>
    </main>
{% endblock %}
