﻿{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پلاک صبر | {% block title %}{% endblock %}</title>

    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/general-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icon/fontawesome-free-5.9.0-web/css/all.css' %}">
    <style>
        .navigation{
            margin: 0 auto; padding:0;
            top: 0;left: 25vw;
            width: 50vw;
            height: 50px;
            position: fixed;
            background-color: rgb(255, 196, 0);
            text-align: center;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            z-index: 998;
            box-shadow: #0003 0px 3px 10px;
        }
        @media (max-width: 900px) {
            .navigation{
                min-width: 100vw !important;
                left: 0 !important;
            }
        }
        .navigation a{
            display: inline-block;
            width: 90px;
            height: calc(100% - 20px);
            padding: 10px 0;
            transition: all 0.3s;
        }
        .navigation a:hover{
            color: #fff;
        }
    </style>
</head>
<body>
    {% block header %}
        <div class="navigation">
            <a href="{% url 'index' %}">خانه</a>
            <a href="{% url 'news' %}">اخبار</a>
            <a href="{% url 'register' %}">ثبت اثار</a>
            <a href="{% url 'about' %}">درباره ما</a>
            <a href="{% url 'index' %}#contact-us">تماس با ما</a>
        </div>
    {% endblock %}
    {% block oneCube %}
        <style>
            body{
                height: 1940px;
            }
        </style>
        <div class="cubes">
            <div class="cube  style-1"></div>
            <div class="circle style-2"></div>
            <div class="circle style-1"></div>
            <div class="cube style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-2"></div>
            <div class="cube style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-2"></div>
        </div>
        <div class="cubes cu-2">
            <div class="cube  style-1"></div>
            <div class="circle style-2"></div>
            <div class="circle style-1"></div>
            <div class="cube style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-2"></div>
            <div class="cube style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
        </div>
    {% endblock %}
    {% block twoCube %}
        <style>
            body{
                height: 970px;
            }
        </style>
        <div class="cubes">
            <div class="cube  style-1"></div>
            <div class="circle style-2"></div>
            <div class="circle style-1"></div>
            <div class="cube style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-2"></div>
            <div class="cube style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-1"></div>
            <div class="cube style-2"></div>
            <div class="circle style-2"></div>
            <div class="circle style-2"></div>
        </div>
    {% endblock %}
    <main class="container" style="margin-top: 120px;">
         {% block content %} {% endblock %}
    </main>

    <footer>
        <span>ساخته شده توسط مرصاد و ایمان</span>
        <small>ایده گیری از این سایت ممانعتی ندارد.</small>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>