{% extends './base.html' %}
{% load static %}

{% block title %} {{news.title}}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block oneCube %}
    {{super}}
{% endblock %}
{% block content %}
        <img src="{{news.img.url}}" alt="" style="float: left;">

        <h2 class="title">{{ news.title }}</h2>
        <!-- <small class="subtitle">{{ news.title }}</small>  we dont have sub title in admin panel :x--> 
        <p>
            {{ news.desc|safe }}
        </p>    
    </main>
{% endblock %}
