﻿{% extends './base.html' %}
{% load static %}

{% block title %} صفحه اصلی {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block twoCube %}
    {{super}}
{% endblock %}
{% block content %}
    
        <div id="about-festival">
            <div class="about-festival-info">
                <a href="#" class="about-festival-title"><h2>جشواره پلاک صبر</h2></a><br>
                <small class="about-festival-subtitle">پلاک صبر تلفیقی است از شهید و شهید و صبر و بردباری !</small>
                <p class="about-festival-text">
                    پلاک صبر یعنی نماد عزت و افتخار نمادی که از اول تاریخ و تا قیامت پایدار خواهد بود هدف برپایی جشنواره به تصویر کشاندن توسل به ائمه اطهار علیه السلام در شهدای دفاع مقدس است زمان برزگزاری این جشنواره از سی و یکم شهریور مهر ماه خواهد بود شرکت کنندگان عزیز میتوانند آثار خود را به دبیر خانه مجازی پلاک صبر ارسال کنند.
                </p>
                <a href="{% url 'register' %}" class="about-festival-sign-up">ثبت نام در جشنواره</a>
                <a href="{% url 'about' %}" class="about-festival-more-info">اطلاعات بیشتر</a>
            </div>
            <div class="about-festival-image">
                <img src="{% static 'assets/images/bg-1.png' %}" alt="">
            </div>
        </div>

        <div class="festival-fields">
            <div class="festival-fields-title">
                <span>رشته های<br><strong>جشنواره</strong></span>
            </div>
            <ul class="festival-fields-item">
                <li class="arrow-1">
                    <img src="{% static 'assets/images/arrow-1.png' %}" alt="">
                    <img src="{% static 'assets/images/arrow-2.png' %}" alt="">
                </li>
                <li class="ffi-1 ffi">
                    <div class="ffi-icon">
                        <i class="ffi--icon fas fa-book-open"></i>
                    </div>
                    <span><strong>ادبی</strong></span>
                    <small>شعر , داستان</small>
                </li>

                <li class="ffi-2 ffi">
                    <div class="ffi-icon">
                        <i class="ffi--icon fas fa-marker"></i>
                    </div>
                    <span><strong>هنرهای دستی تجسمی</strong></span>
                    <small>خط نستعلیق , شکسته , ثلث , پوستر , نقاشی</small>
                </li>

                <li class="ffi-3 ffi">
                    <div class="ffi-icon">
                        <i class="ffi--icon fas fa-bullhorn"></i>
                    </div>
                    <span><strong>سخنوری</strong></span>
                    <small>روایت گری</small>
                </li>

                <li class="ffi-4 ffi">
                    <div class="ffi-icon">
                        <i class="ffi--icon fas fa-podcast"></i>
                    </div>
                    <span><strong>تولید هنری</strong></span>
                    <small>پادکست , مستند , فیلم کوتاه , نماهنگ</small>
                </li>
            </ul>
        </div>
    </main>

    <section class="latest-news">
        <div class="container" id="main2">
            <div class="lt-items">
                {% for new in news %}
                    <article class="ls--item">
                        <div class="ls--item-cover">
                            <a href="{% url 'detail' id=new.id %}">
                                <img src="{{ new.img.url }}" alt="{{ new.title }}" class="ls--item-cover-img">
                            </a>
                        </div>
                        <div class="ls--item-body">
                            <span class="ls--item-date"><small>{{ new.date }}</small></span>
                            <a href="{% url 'detail' id=new.id %}" class="ls--item-title"><h4>{{ new.title }}</h4></a>
                            <p class="ls--item-desc">{{ new.demo|truncatechars:100 }}</p>
                            <!-- truncatechars میگه چند تا حرف اول از اول مقاله نشون داده بشن -->
                            <!-- مثلا سلام میشه 4حرف  -->
                            <a href="{% url 'detail' id=new.id %}" class="ls--item-more">ادامه مطلب</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
            {% if news|length > 2%}
                <div class="lt-more">
                    <a href="{% url 'news' %}" class="lt-more-btn">
                        <i class="lt-more-icon far fa-plus-square"></i><br>
                        <span class="lt-more-text">اخبار بیشتر</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>

    <div class="container">
        <section id="contact-us">
            <h3>ارتباط با ما</h3>
            <div class="cu-item">
                <div class="cu--item">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>دانش غربی ، دبیرستان شاهد پسرانه فردوسی</span>
                </div>
                <br>
                <div class="cu--item">
                    <i class="fas fa-phone"></i>
                    <span>0990624675</span>
                </div>
            </div>
        </section>
    </div>

{% endblock %}