{% extends './base.html' %}
{% load static %}

{% block title %} اخبار جشنواره{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block oneCube %}
    {{super}}
{% endblock %}
{% block content %}
        <h3 class="news-title">اخبار جشنواره</h3>
        <div class="news-posts" id="news-posts">
            {% if news %}
                {% for item in news%}
                    <article class="post">
                        <div class="post-cover">
                            <a href="{% url 'detail' id=item.pk %}">
                                <img src="{{ item.img.url }}" alt="{{ item.title }}" class="post-cover-img">
                            </a>
                        </div>
                        <div class="post-body">
                            <span class="post-date"><small>{{ item.date }}</small></span>
                            <a href="{% url 'detail' id=item.pk %}" class="post-title"><h4>{{ item.title }}</h4></a>
                            <p class="post-desc">{{ item.demo }}</p>
                            <a href="{% url 'detail' id=item.pk %}" class="post-more">ادامه مطلب</a>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <h1>محتوایی وجود ندارد</h1>
            {% endif %}

        </div>
    </main>
{% endblock %}