{% extends './base.html' %}
{% load static %}

{% block title %} ثبت نام در جشنواره {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<style>
    select[name="sub_field"]{
        display: none;
    }
</style>
{% endblock %}
{% block oneCube %}
    {{super}}
{% endblock %}
{% block content %}
        <div id="modal" style="display:none;position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background-color: rgba(0, 0, 0, 0.5);z-index: 999;">
            <div class="body" style="position: absolute;top: calc(50vh - 200px);left: calc(50vw - 300px);background: #fff;border-radius: 8px;height: 400px;width: 600px;">
                <p>
                    اثر شما با موفقیت ثبت شد...
                </p>
                <button class="closeModal">بستن</button>
            </div>
        </div>
        <!-- <h2 class="register-title">ثبت نام در جشنواره</h2> -->
        <form method="POST" action="javascript:void(0)" autocomplete="off" class="form" enctype="multipart/form-data">
            <div id="err_list"></div>
            {% csrf_token %}
            <div class="right">
                <div class="group">
                    <label for="title">عنوان اثر</label>
                    <input id="title" name="title" type="text" required>
                </div>
                <div class="group">
                    <label for="fullname">نام و نام خانوادگی</label>
                    <input id="fullname" name="fullName" type="text" required>
                </div>
                <div class="group">
                    <label for="phoneNumber">شماره همراه</label>
                    <input id="phoneNumber" name="phoneNumber" type="number" required>
                </div>
                <div class="group">
                    <label for="nationalCode">کد ملی</label>
                    <input id="nationalCode" name="nationalCode" type="text" required>
                </div>
            </div>
            <div class="left">
                
                <div class="group">
                    <span>رشته</span>
                    <select name="field" id="field" required>
                        <option value="Literary">ادبی</option>
                        <option value="Speech">سخنوری</option>
                        <option value="VisualHandicrafts">هنرهای دستی تجسمی</option>
                        <option value="ArtProduction">تولید هنری</option>
                    </select>
                </div>
                <div class="group">
                    <span>زیر رشته</span>
                    <select name="sub_field" class="sub_field Speech">
                        <option value="Narrative">روایتگری</option>
                    </select>
                    
                    <select name="sub_field" class="sub_field Literary">
                        <option value="Story">داستان</option>
                        <option value="Poem">شعر</option>
                    </select>
        
                    <select name="sub_field" class="sub_field VisualHandicrafts">
                        <option value="Sols">ثلث</option>
                        <option value="Poster">پوستر</option>
                        <option value="Draw">نقاشی</option>
                        <option value="Shekaste">شکسته</option>
                        <option value="Nastaligh">نستعلیق</option>
                    </select>
        
                    <select name="sub_field" class="sub_field ArtProduction">
                        <option value="Podcast">پادکست</option>
                        <option value="Documentary">مستند</option>
                        <option value="ShortMovie">فیلم کوتاه</option>
                        <option value="Clip">نماهنگ</option>
                    </select>
                </div>

                <div class="group">
                    <label for="projectFile">اثر</label>
                    <input id="projectFile" name="projectFile" type="file" required>
                </div>

            </div>
            <input id="submit" type="submit" value="ثبت اثر">
        </form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.Literary').show()
        $('.Literary').addClass('active')
        
        $('select#field').on('change', function () {
            switch (this.value){
                case 'Literary':
                    $('.sub_field').hide()
                    $('.sub_field').removeClass('active')
                    $('.Literary').show()
                    $('.Literary').addClass('active')
                    break;
                case 'Speech':
                    $('.sub_field').hide() 
                    $('.sub_field').removeClass('active')
                    $('.Speech').show()
                    $('.Speech').addClass('active')
                    break;
                case 'VisualHandicrafts':
                    $('.sub_field').hide()
                    $('.sub_field').removeClass('active')
                    $('.VisualHandicrafts').show()
                    $('.VisualHandicrafts').addClass('active')
                    break;
                case 'ArtProduction':
                    $('.sub_field').hide()
                    $('.sub_field').removeClass('active')
                    $('.ArtProduction').show()
                    $('.ArtProduction').addClass('active')
                    break;
            }
        })

        $('#submit').click(() => {
            var fd = new FormData();
            var files = $('#projectFile')[0].files[0];
            fd.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val())
            fd.append('title', $("#title").val());
            fd.append('fullName', $("#fullname").val());
            fd.append('phoneNumber', $("#phoneNumber").val());
            fd.append('nationalCode', $("#nationalCode").val());
            fd.append('field', $("#field").val());
            fd.append('sub_field', $(".sub_field.active").val());
            fd.append('projectFile', files);
            $.ajax({
                url: "{% url 'addProject' %}",
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function(response){
                    if (response.status){
                        $('#modal').show()
                    }else{
                        console.log('Err')
                    }
                }

            })
        })

        $('.closeModal').click(() => {
            $('#modal').hide()
        })
    })
</script>
{% endblock %}